* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#create-grid-button,
#clear-grid-button {
  display: block;
  font-size: 18px;
  padding: 12px 36px;
  border: none;
  border-radius: 22px;
  color: #fff;
}

#create-grid-button {
  background-color: rgb(217, 14, 170);
}

#create-grid-button:hover {
  background-color: rgb(27, 44, 60);
}

#clear-grid-button {
  background-color: rgb(27, 44, 60);
}

#clear-grid-button:hover {
  background-color: rgb(217, 14, 170);
}

.grid-action-buttons {
  display: flex;
  justify-content: center;
  margin: 24px auto;
  column-gap: 24px;
}
